@CHARSET "ISO-8859-1";
 /**
 * Implements ToonTalk's style sheet
 * Authors: Ken Kahn
 * License: New BSD
 */
 
.toontalk-backside {
	position: absolute;
	background-color: rgba(245, 240, 240, 0.94);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(185, 113, 141);
	border-radius: 10px;
	padding:  6px;
	/* while testing: */
	width: 400px;
	height: 200px;
	left: 350px;
	top: 50px;
}
.toontalk-top-level-frontside {
	position: absolute;
	border: none;
	padding: 4px;
	/* while testing: */
	width: 300px;
	height: 60px;
	left: 10px;
	top: 50px;
}
.toontalk-box {
	background-color: rgb(244, 247, 214);
	table-layout: fixed;
    width:  100%;	
	height: 100%;
	padding: 0px;
	border-collapse: collapse;
}
.toontalk-box-horizontal {
}
.toontalk-box-hole {
	width: 100%;
	height: 100%;
    border-color: rgb(173, 43, 105);
	padding:  0;
}
.toontalk-box-hole-horizontal {
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 3px;
	border-top-width: 3px;
	border-bottom-width: 3px;
}
.toontalk-box-hole-horizontal:nth-child(1) {
	border-left-width: 3px;
}
.toontalk-box-hole-vertical {
	border-style: solid;
	border-left-width: 3px;
	border-right-width: 3px;
	border-top-width: 0px;
	border-bottom-width: 3px;
}
.toontalk-box-hole-vertical:nth-child(1) {
	border-top-width: 3px;
}
.toontalk-top-level-number {
	/* numbers look better with fixed widths -- easier to compare visually */
	font-family: monospace;
	background-color: rgb(237, 247, 240);
	width: 100%;
	height: 100%;
	/* border-style: solid; */
	/* border-width: 2px; */
	/* border-color: rgb(96, 173, 43); */
	border-radius: 6px;
	text-align: center;
	vertical-align: middle;
}
.toontalk-improper-fraction {
	table-layout: fixed;
	border-spacing:  0px;
	collapse: collapse;
}
.toontalk-digit {
}
.toontalk-decimal-point {
	/* decimal point as monospace looked bad -- not sure if serif is the best rememdy */
	font-family: serif;
}
.toontalk-numerator {
}
.toontalk-fraction-line {
	width: 40%;
	font-size:  1px;
}
.toontalk-denominator {
}
.toontalk-numerator-input {
	width: 98%;
	border-radius: 4px;
}
.toontalk-denominator-input {
	width: 98%;
	border-radius: 4px;
}
.toontalk-hole-about-to-be-replaced {
	width: 100%;
	height: 100%;
}