 /**
 * Implements ToonTalk's style sheet
 * Authors: Ken Kahn
 * License: New BSD
 */
 
 .toontalk-top-level-resource {
	 position: relative;
	 display:  inline-block;
 }
.toontalk-top-level-resource:hover {
	cursor: move;
}
.toontalk-side-animating {
/* 	 not sure why the following made things worse */
/* 	z-index: 10000; */
/* 	-moz-transition: all 2s;  
	-ms-transition: all 2s;  
	-o-transition: all 2s;  */
/* 	following from http://easings.net/#easeInOutQuint */
    position: absolute; 
	-webkit-transition: all 2s cubic-bezier(0.86, 0, 0.07, 1);
    transition:         all 2s cubic-bezier(0.86, 0, 0.07, 1);
}
.toontalk-side-appearing {
/* 	uses http://easings.net/#easeInOutQuad */
	-webkit-transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition:         all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);	
}
/* .toontalk-side:active {
	border: solid 2px red;
} */
.toontalk-robot {
/* 	this is the static version */
	background-image: url("images/robot.png");
	background-repeat: no-repeat;
	background-size: contain;
	width:  66px;
	height: 110px;
}
.toontalk-robot-animating {
	opacity: .8;
	background-image: url("images/robot-working.png");
	background-repeat: no-repeat;
	background-size:  auto;
	width: 73px;
	height: 101px;
	-webkit-animation: robot-working 1s steps(9) infinite;
       -moz-animation: robot-working 1s steps(9) infinite;
        -ms-animation: robot-working 1s steps(9) infinite;
         -o-animation: robot-working 1s steps(9) infinite;
            animation: robot-working 1s steps(9) infinite;
}	
@-webkit-keyframes robot-working {
   from { background-position:    0px; }
     to { background-position: -662px; }
}
@-moz-keyframes robot-working {
   from { background-position:    0px; }
     to { background-position: -662px; }
}
@-ms-keyframes robot-working {
   from { background-position:    0px; }
     to { background-position: -662px; }
}
@-o-keyframes robot-working {
   from { background-position:    0px; }
     to { background-position: -662px; }
}
@keyframes robot-working {
   from { background-position:    0px; }
     to { background-position: -662px; }
}
.toontalk-backside {
	position: absolute;
	background-color: rgba(245, 240, 240, 0.94);
    cursor: move;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(185, 113, 141);
	border-radius: 10px;
	/* leave room at the bottom for hide buttons, etc. */
	padding-bottom: 6px;
	padding-top:    6px;
	padding-left:   6px;
	padding-right:  6px;
}
.toontalk-settings {
	position: absolute;
	background-color: rgba(230, 230, 230, 0.94);
	border-style: solid;
	border-width: 2px;
	border-color: rgb(185, 113, 141);
	border-radius: 10px;
}
.toontalk-done-backside-button {

}
.toontalk-backside-of-number {
	background-color: rgba(220, 255, 236, .94);
}
.toontalk-backside-of-box {
	background-color: rgba(234, 212, 247, 0.94);
}
.toontalk-backside-of-robot {
	background-color: rgba(230, 230, 255, .94);
	width: 480px;
}
.toontalk-top-level-backside {
    width: 1000px;
	height: 300px;
    background-image: url("images/floor-tile.png");
    background-repeat: round;
/*     background-color: rgb(245, 245, 57); */
    position: relative;
}
.toontalk-top-level-frontside {
	position: absolute;
	cursor: move;
	border: none;
	padding: 4px;
	/* while testing: */
	width:  20%;
	height: 10%;
}
.toontalk-json {
	display: inline-block;	
}
.toontalk-frontside {
}
.toontalk-frontside-on-backside {
	position: absolute;
	/* width: 20%; */
	/* height: 10%; */
	/* resize:  both; */
}
.toontalk-frontside-in-box {
	width:  100%;
	height: 100%;
/* 	default color same as empty hole */
	background-color: rgb(231, 215, 241);
}
.toontalk-widget {
	width:  100%;
	height: 100%;
	display: inline-block;
}
.toontalk-box {
	/* position: absolute; */
	background-color: rgb(244, 247, 214);
	table-layout: fixed;
	padding: 0px;
	border-collapse: collapse;
}
.toontalk-box-horizontal {
}
.toontalk-box-hole {
	position: absolute;
/* 	following makes the border internal to the box */
/* 	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; */
/* 	border-color: rgb(137, 15, 239); */
/* 	padding: 0; */
}
.toontalk-box-hole-horizontal {
/*     background-color: rgb(137, 15, 239); */
/*  set padding to simulate border */
/*  see http://stackoverflow.com/questions/13474754/how-to-set-borders-thickness-in-percentages */
/*     padding-left: 0%;
    padding-right: 4%; 
    padding-top: 4%; 
    padding-bottom: 4%;  */
/* 	border-style: solid;
	border-left-width:   0px;
	border-right-width:  8%;
	border-top-width:    8%;
	border-bottom-width: 8%; */
	min-height: 100%;
}
.toontalk-box-full-size-border {
    border: 32px solid transparent;
    -moz-border-image: url("images/box-border.png") 32 32 round repeat;
	-webkit-border-image: url("images/box-border.png") 32 32 round repeat;
    -o-border-image: url("images/box-border.png") 32 32 round repeat;
    border-image: url("images/box-border.png") 32 32 round repeat;
}
.toontalk-box-half-size-border {
	border: 16px solid transparent;
    -moz-border-image: url("images/box-border-half-size.png") 16 16 round repeat;
	-webkit-border-image: url("images/box-border-half-size.png") 16 16 round repeat;
    -o-border-image: url("images/box-border-half-size.png") 16 16 round repeat;
    border-image: url("images/box-border-half-size.png") 16 16 round repeat;
}
.toontalk-box-quarter-size-border {
	border: 8px solid transparent;
    -moz-border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
	-webkit-border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
    -o-border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
    border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
}
.toontalk-box-eighth-size-border {
	border: 4px solid transparent;
    -moz-border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
	-webkit-border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
    -o-border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
    border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
}
.toontalk-box-full-size-border-left {
    border-left: 32px solid transparent;
    -moz-border-image: url("images/box-border.png") 32 32 round repeat;
	-webkit-border-image: url("images/box-border.png") 32 32 round repeat;
    -o-border-image: url("images/box-border.png") 32 32 round repeat;
    border-image: url("images/box-border.png") 32 32 round repeat;
}
.toontalk-box-half-size-border-left {
	border-left: 16px solid transparent;
    -moz-border-image: url("images/box-border-half-size.png") 16 16 round repeat;
	-webkit-border-image: url("images/box-border-half-size.png") 16 16 round repeat;
    -o-border-image: url("images/box-border-half-size.png") 16 16 round repeat;
    border-image: url("images/box-border-half-size.png") 16 16 round repeat;
}
.toontalk-box-quarter-size-border-left {
	border-left: 8px solid transparent;
    -moz-border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
	-webkit-border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
    -o-border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
    border-image: url("images/box-border-quarter-size.png") 8 8 round repeat;
}
.toontalk-box-eighth-size-border-left {
	border-left: 4px solid transparent;
    -moz-border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
	-webkit-border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
    -o-border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
    border-image: url("images/box-border-eighth-size.png") 4 4 round repeat;
}
.toontalk-hole-number-0.toontalk-box-hole-horizontal {
/* 	padding-left: 4%; */
}
/* following stopped working - not sure why so above used instead */
/* .toontalk-box-hole-horizontal:nth-child(1) {
	padding-left: 4%;
} */
.toontalk-box-hole-vertical {
	background-color: rgb(137, 15, 239);
	padding-left: 4%;
    padding-right: 4%; 
    padding-top: 0%; 
    padding-bottom: 4%;
/* 	border-style: solid;
	border-left-width:  8%;
	border-right-width: 8%;
	border-top-width: 0px;
	border-bottom-width: 8%; */
	/* min-width:  100%; */
	/* min-height: 100%; */
}
.toontalk-hole-number-.,toontalk-box-hole-vertical {
	padding-top: 4%;
}
/* following stopped working - not sure why so above used instead */
/* .toontalk-box-hole-vertical:nth-child(1) {
	padding-top: 4%; 
} */
.toontalk-empty-hole {
	width:  100%;
	height: 100%;
/* 	background-color: rgb(231, 215, 241); */
    background-image: url("images/hole-tile-half-size.png");
    background-repeat: round;
}
.toontalk-top-level-number {
	/* numbers look better with fixed widths -- easier to compare visually */
	font-family: 'Lucida console', monospace;
	background-color: rgb(183, 248, 196);  
	width: 100%;
	height: 100%;
	/* min-width:  100%; */
/* 	min-height: 100%; */
	/* border-width: 2px; */
	/* border-color: rgb(96, 173, 43); */
/* 	border-radius: 6px; */
	/* text-align: center; */
	vertical-align: middle;
	display: inline-block;
}
.toontalk-number-full-size-border {
    border: 32px solid transparent;
    -moz-border-image: url("images/number-border.png") 32 32 round repeat;
	-webkit-border-image: url("images/number-border.png") 32 32 round repeat;
    -o-border-image: url("images/number-border.png") 32 32 round repeat;
    border-image: url("images/number-border.png") 32 32 round repeat;
}
.toontalk-number-half-size-border {
	border: 16px solid transparent;
    -moz-border-image: url("images/number-border-half-size.png") 16 16 round repeat;
	-webkit-border-image: url("images/number-border-half-size.png") 16 16 round repeat;
    -o-border-image: url("images/number-border-half-size.png") 16 16 round repeat;
    border-image: url("images/number-border-half-size.png") 16 16 round repeat;
}
.toontalk-number-quarter-size-border {
	border: 8px solid transparent;
    -moz-border-image: url("images/number-border-quarter-size.png") 8 8 round repeat;
	-webkit-border-image: url("images/number-border-quarter-size.png") 8 8 round repeat;
    -o-border-image: url("images/number-border-quarter-size.png") 8 8 round repeat;
    border-image: url("images/number-border-quarter-size.png") 8 8 round repeat;
}
.toontalk-number-eighth-size-border {
	border: 4px solid transparent;
    -moz-border-image: url("images/number-border-eighth-size.png") 4 4 round repeat;
	-webkit-border-image: url("images/number-border-eighth-size.png") 4 4 round repeat;
    -o-border-image: url("images/number-border-eighth-size.png") 4 4 round repeat;
    border-image: url("images/number-border-eighth-size.png") 4 4 round repeat;
}
.toontalk-number-size-unconstrained-by-container {
/* 	digits in numbers appear too high but this fix causes the numbers to become too big for their container */
	
/* padding-top: .3em; */
}
.toontalk-improper-fraction {
	table-layout: fixed;
	border-spacing:  0px;
	border-collapse: collapse;
}
.toontalk-operator-and-fraction {
	/* background-color same as toontalk-top-level-number */
	background-color: rgb(237, 247, 240); 
	table-layout: fixed;
	border-spacing:  0px;
	border-collapse: collapse;
}
.toontalk-digit {
}
.toontalk-decimal-point {
	/* decimal point as monospace looked bad -- not sure if serif is the best rememdy */
	font-family: 'Lucida serif';
}
.toontalk-numerator {
}
.toontalk-fraction-line {
	width: 40%;
	font-size: 1px;
}
.toontalk-denominator {
}
.toontalk-text-input {
    color: inherit;
    background: none;
    cursor: text;	
}
.toontalk-numerator-input {
}
.toontalk-denominator-input {
}
.toontalk-three-dots-in-number {
	font-size: 30%;
	font-family: 'Lucida serif'; /* really want to ignore the monospace */
}
.toontalk-operator-choice {
}
.toontalk-hide-backside-button {
}
.toontalk-description-input {
	width: 30em;
	text-align: inherit;
}
.toontalk-conditions-contents {
	width:  100%;
	height: 100%;
	position: absolute;
}
.toontalk-conditions-contents-container {
/* 	Can't add the border to toontalk-conditions-contents because erased elements have 0 opacity */
    width: 200px;
	height: 36px;
	border: 1px black solid;	
}
.toontalk-held-by-robot {
	top: 75%;
	z-index: 1000;
}
.toontalk-drop-area {
	background-color: rgb(187, 246, 248);
	min-height: 35%;
	border: solid rgb(126, 148, 206) 2px;
	border-radius: 6px;
	width:  95%;
	padding-top: 10px;
	/* display:  inline; */
}
.toontalk-drop-area-instructions {
	opacity: .4;
	display:  inline;
	vertical-align: middle;
}
.toontalk-widget-in-drop_area {
	width:  32px;
	height: 32px;
	display:  inline-block;
	vertical-align: middle;
	padding:  8pt;
}
.toontalk-infinite-stack {
	box-shadow: 10px 5px 5px black;
}
.toontalk-resource-table {
	padding: 4px;
	text-align: center;
}
.toontalk-resource-table td {
/* 	width: 200px; */
}
.toontalk-text {
	background-color: white;
	border: solid black 1px;
}
.toontalk-attributes-chooser {
	background-color: white;
    border-style: solid;
	border-width: 2px;
	border-color: rgb(185, 113, 141);
	border-radius: 10px;
}
.toontalk-highlight {
	border: solid 3px white;
}
.toontalk-highlight.toontalk-number-full-size-border {
	border: 32px solid transparent;
    -moz-border-image:    url("images/border-highlighted.png") 32 32 round repeat;
	-webkit-border-image: url("images/border-highlighted.png") 32 32 round repeat;
    -o-border-image:      url("images/border-highlighted.png") 32 32 round repeat;
    border-image:         url("images/border-highlighted.png") 32 32 round repeat;
}
.toontalk-highlight.toontalk-number-half-size-border {
	border: 16px solid transparent;
    -moz-border-image:    url("images/border-half-size-highlighted.png") 16 16 round repeat;
	-webkit-border-image: url("images/border-half-size-highlighted.png") 16 16 round repeat;
    -o-border-image:      url("images/border-half-size-highlighted.png") 16 16 round repeat;
    border-image:         url("images/border-half-size-highlighted.png") 16 16 round repeat;
}
.toontalk-highlight.toontalk-number-quarter-size-border {
	border: 8px solid transparent;
    -moz-border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
	-webkit-border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
    -o-border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
    border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
}
.toontalk-highlight.toontalk-number-eighth-size-border {
	border: 4px solid transparent;
    -moz-border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
	-webkit-border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
    -o-border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
    border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
}
.toontalk-highlight.toontalk-box-full-size-border {
	border: 32px solid transparent;
    -moz-border-image: url("images/border-highlighted.png") 32 32 round repeat;
	-webkit-border-image: url("images/border-highlighted.png") 32 32 round repeat;
    -o-border-image: url("images/border-highlighted.png") 32 32 round repeat;
    border-image: url("images/border-highlighted.png") 32 32 round repeat;
}
.toontalk-highlight.toontalk-box-half-size-border {
	border: 16px solid transparent;
    -moz-border-image: url("images/border-half-size-highlighted.png") 16 16 round repeat;
	-webkit-border-image: url("images/border-half-size-highlighted.png") 16 16 round repeat;
    -o-border-image: url("images/border-half-size-highlighted.png") 16 16 round repeat;
    border-image: url("images/border-half-size-highlighted.png") 16 16 round repeat;
}
.toontalk-highlight.toontalk-box-quarter-size-border {
	border: 8px solid transparent;
    -moz-border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
	-webkit-border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
    -o-border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
    border-image: url("images/border-half-size-highlighted.png") 8 8 round repeat;
}
.toontalk-highlight.toontalk-box-eighth-size-border {
	border: 4px solid transparent;
    -moz-border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
	-webkit-border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
    -o-border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
    border-image: url("images/border-half-size-highlighted.png") 4 4 round repeat;
}
.toontalk-conditions-not-matched {
	/* could be fancier -- e.g. glowing */
	border: solid 3px red;
}
.toontalk-wand {
	background-image: url("images/wand-static.png");
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 99999999;
	width: 191px;
	height: 31px;
}
.toontalk-wand-small {
	position: absolute;
	background-image: url("images/wand-static-small.png");
	background-repeat: no-repeat;
	z-index: 99999999;
	width: 95px;
	height: 15px;
}
.toontalk-vacuum {
	background-image: url("images/dusty-static.png");
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 99999999;
	width: 123px;
	height: 45px;
}
.toontalk-vacuum-s {
	background-image: url("images/dusty-static-S.png");
}
.toontalk-vacuum-r {
	background-image: url("images/dusty-static-R.png");
}
.toontalk-vacuum-e {
	background-image: url("images/dusty-static-E.png");
}
.toontalk-vacuum:hover {
background-image: url("images/dusty-morph.png");
	background-repeat: no-repeat;
	width: 133px;
	height: 55px;
	-webkit-animation: vacuum-morph 1s steps(15) forwards;
       -moz-animation: vacuum-morph 1s steps(15) forwards;
        -ms-animation: vacuum-morph 1s steps(15) forwards;
         -o-animation: vacuum-morph 1s steps(15) forwards;
            animation: vacuum-morph 1s steps(15) forwards;
}
@-webkit-keyframes vacuum-morph {
   from { background-position:    0px; }
     to { background-position: -1995px; }
}

@-moz-keyframes vacuum-morph {
   from { background-position:    0px; }
     to { background-position: -1995px; }
}

@-ms-keyframes vacuum-morph {
   from { background-position:    0px; }
     to { background-position: -1995px; }
}

@-o-keyframes vacuum-morph {
   from { background-position:    0px; }
     to { background-position: -1995px; }
}
@keyframes vacuum-morph {
   from { background-position:    0px; }
     to { background-position: -1995px; }
}
.toontalk-tool-held.toontalk-vacuum {
	background-image: url("images/dusty-ready.png");
	background-repeat: no-repeat;
	width: 132px;
	height: 59px;
	-webkit-animation: vacuum-ready 1s steps(10) infinite;
       -moz-animation: vacuum-ready 1s steps(10) infinite;
        -ms-animation: vacuum-ready 1s steps(10) infinite;
         -o-animation: vacuum-ready 1s steps(10) infinite;
            animation: vacuum-ready 1s steps(10) infinite;
}	
@-webkit-keyframes vacuum-ready {
   from { background-position:    0px; }
     to { background-position: -1325px; }
}
@-moz-keyframes vacuum-ready {
   from { background-position:    0px; }
     to { background-position: -1325px; }
}
@-ms-keyframes vacuum-ready {
   from { background-position:    0px; }
     to { background-position: -1325px; }
}
@-o-keyframes vacuum-ready {
   from { background-position:    0px; }
     to { background-position: -1325px; }
}
@keyframes vacuum-ready {
   from { background-position:    0px; }
     to { background-position: -1325px; }
}
.toontalk-vacuum-ready-small {
	position: absolute;
	background-image: url("images/dusty-ready-small.png");
	background-repeat: no-repeat;
	z-index: 99999999;
	width: 63px;
	height: 30px;
	-webkit-animation: vacuum-ready-small 1s steps(10) infinite;
       -moz-animation: vacuum-ready-small 1s steps(10) infinite;
        -ms-animation: vacuum-ready-small 1s steps(10) infinite;
         -o-animation: vacuum-ready-small 1s steps(10) infinite;
            animation: vacuum-ready-small 1s steps(10) infinite;
}
@-webkit-keyframes vacuum-ready-small {
   from { background-position:    0px; }
     to { background-position: -663px; }
}

@-moz-keyframes vacuum-ready-small {
   from { background-position:    0px; }
     to { background-position: -663px; }
}

@-ms-keyframes vacuum-ready-small {
   from { background-position:    0px; }
     to { background-position: -663px; }
}

@-o-keyframes vacuum-ready-small {
   from { background-position:    0px; }
     to { background-position: -663px; }
}

@keyframes vacuum-ready-small {
   from { background-position:    0px; }
     to { background-position: -663px; }
}
.toontalk-vacuum-button {
	position: absolute;
	background-repeat: no-repeat;
	z-index: 99999999;
	width: 21px;
	height: 11px;
	left: 5px;
	top: 18px;
}
.toontalk-tool-held {
	position: absolute; 
}
.toontalk-tool-returning {
	position: absolute;
	-webkit-transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition:         all 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.toontalk-robot-not-matched {
	transform: rotate(180deg);
	transform-origin: center center;
}
.toontalk-being-dragged {
	opacity: 0.6;
}
.toontalk-ignore-events {
	pointer-events: none;
}
.toontalk-widget-on-nest {
	width: 80%;
	height: 80%;
	position: absolute;
}
.toontalk-carried-by-bird {
    position: static;
    transform: scale(0.8, 0.4);
	width: 100%;
	height: 100%;
}
.toontalk-nest-with-egg {
/* 	display just the first frame */
    width:  116px;
    height: 141px;
    background-image: url("images/hatch-egg-strip.png");
/* 	following causes resource to be tiny and repeated: background-size: contain; */
}
.toontalk-nest-with-egg.toontalk-top-level-resource {
/* 	otherwise extra white space appears in the resource area */
    margin-top: -43px;
}
.toontalk-sensor-nest {
    background-image: url("images/sensor-nest.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 116px;
	height: 98px;
}
.toontalk-sensor-inactive-nest {
    background-image: url("images/sensor-nest-inactive.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 116px;
	height: 98px;
}
.toontalk-empty-nest {
/* 	Perhaps should be renamed since it really for eggless nest but might have stuff on top */
/* 	tried 	content: url("images/empty-nest.png");  but couldn't drag it */
	background-image: url("images/empty-nest.png");
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 43px;
	/* width: 116px; */
	/* height: 98px; */
/* 	display just the last frame */
/*  width:  116px;
    height: 141px;
    background-image: url("images/hatch-egg-strip.png");
	background-position: -1628px; */
}
.toontalk-empty-nest.toontalk-frontside-in-box {
	margin-top: 0px;
}
.toontalk-hatch-egg.toontalk-frontside-in-box {
	/* margin-top: -43px; */
}
/* could make this 14 steps and change -1744 to 1628 */
.toontalk-hatch-egg {
    /* width:  116px; */
    /* height: 141px; */
	margin-top: -8px;
	background-size: auto;
    background-image: url("images/hatch-egg-strip.png");
    background-repeat: no-repeat;
	-webkit-animation: hatch-egg 2s steps(15) forwards;
       -moz-animation: hatch-egg 2s steps(15) forwards;
        -ms-animation: hatch-egg 2s steps(15) forwards;
         -o-animation: hatch-egg 2s steps(15) forwards;
            animation: hatch-egg 2s steps(15) forwards;
/*  attempted to scale the full size version:
    background-size probably would have worked
    transform: scale(0.625);
    transform-origin: center; */
}
@-webkit-keyframes hatch-egg {
   from { background-position:     0px; }
     to { background-position: -1744px; }
}

@-moz-keyframes hatch-egg {
   from { background-position:     0px; }
     to { background-position: -1744px; }
}

@-ms-keyframes hatch-egg {
   from { background-position:     0px; }
     to { background-position: -1744px; }
}

@-o-keyframes hatch-egg {
   from { background-position:     0px; }
     to { background-position: -1744px; }
}

@keyframes hatch-egg {
   from { background-position:     0px; }
     to { background-position: -1744px; }
}
.toontalk-close-button {
/* 	based upon http://jsfiddle.net/adzFe/14/ */
	right: -10px;
	top: -10px;
	position: absolute;
	cursor: pointer;
	color: white;
	border: 1px solid #AEAEAE;
	border-radius: 20px;
	background: #605F61;
	font-size: 26px;
	font-weight: bold;
	display: inline-block;
	line-height: 0px;
	padding: 11px 3px;
}
.toontalk-close-button:hover {
	background: red;
}
.toontalk-close-button:before{
    content: "×";
}
.toontalk-string-value-from-sensor {
	background-color: rgb(252, 240, 240);
	text-align: center;
}
.toontalk-bird-gimme {
    width:  103px;
    height: 117px;
    background-image: url("images/bird-gimme.png");
	background-size: auto;
	-webkit-animation: bird-gimme 1s steps(6) infinite;
       -moz-animation: bird-gimme 1s steps(6) infinite;
        -ms-animation: bird-gimme 1s steps(6) infinite;
         -o-animation: bird-gimme 1s steps(6) infinite;
            animation: bird-gimme 1s steps(6) infinite;
}
@-webkit-keyframes bird-gimme {
   from { background-position:    0px; }
     to { background-position: -615px; }
}
@-moz-keyframes bird-gimme {
   from { background-position:    0px; }
     to { background-position: -615px; }
}
@-ms-keyframes bird-gimme {
   from { background-position:    0px; }
     to { background-position: -615px; }
}

@-o-keyframes bird-gimme {
   from { background-position:    0px; }
     to { background-position: -615px; }
}
@keyframes bird-gimme {
   from { background-position:    0px; }
     to { background-position: -615px; }
}
.toontalk-bird-static {
    width:  70px;
    height: 102px;
    background-image: url("images/bird-static.png");
    background-repeat: no-repeat;
	background-size: contain;
}

/* Couldn't get the following to work -- tried to define new bird-morph-from-static keyframes but didn't help */
/* .toontalk-bird-morph-from-static {
    width:  88px;
    height: 119px;
    background-image: url("images/bird-morph.png");
	background-size: auto;
    -webkit-animation: bird-morph 1s steps(12) normal forwards;
       -moz-animation: bird-morph 1s steps(12) normal forwards;
        -ms-animation: bird-morph 1s steps(12) normal forwards;
         -o-animation: bird-morph 1s steps(12) normal forwards;
            animation: bird-morph 1s steps(12) normal forwards;
} */

.toontalk-bird-morph-to-static {
    width:  88px;
    height: 119px;
    background-image: url("images/bird-morph.png");
	background-size: auto;
	-webkit-animation: bird-morph-to-static 1s steps(12) reverse backwards;
       -moz-animation: bird-morph-to-static 1s steps(12) reverse backwards;
        -ms-animation: bird-morph-to-static 1s steps(12) reverse backwards;
         -o-animation: bird-morph-to-static 1s steps(12) reverse backwards;
            animation: bird-morph-to-static 1s steps(12) reverse backwards;
}

@-webkit-keyframes bird-morph-to-static {
   from { background-position:     0px; }
     to { background-position: -1053px; }
}

@-moz-keyframes bird-morph-to-static {
   from { background-position:     0px; }
     to { background-position: -1053px; }
}

@-ms-keyframes bird-morph-to-static {
   from { background-position:     0px; }
     to { background-position: -1053px; }
}

@-o-keyframes bird-morph-to-static {
   from { background-position:     0px; }
     to { background-position: -1053px; }
}

@keyframes bird-morph-to-static {
   from { background-position:     0px; }
     to { background-position: -1053px; }
}

/* could make this 4 steps and change -747 to 597 */
.toontalk-fly-down {
    width:  150px;
    height: 127px;
    background-image: url("images/fly-down.png");
	background-size: auto;
	-webkit-animation: fly-down 1s steps(5) forwards;
       -moz-animation: fly-down 1s steps(5) forwards;
        -ms-animation: fly-down 1s steps(5) forwards;
         -o-animation: fly-down 1s steps(5) forwards;
            animation: fly-down 1s steps(5) forwards;
}
@-webkit-keyframes fly-down {
   from { background-position:    0px; }
     to { background-position: -747px; }
}

@-moz-keyframes fly-down {
   from { background-position:    0px; }
     to { background-position: -747px; }
}

@-ms-keyframes fly-down {
   from { background-position:    0px; }
     to { background-position: -747px; }
}

@-o-keyframes fly-down {
   from { background-position:    0px; }
     to { background-position: -747px; }
}

@keyframes fly-down {
   from { background-position:    0px; }
     to { background-position: -747px; }
}

.toontalk-bammer-away {
    width:  204px;
    height: 246px;
	position: absolute;
    background-image: url("images/bammer-away.png");
	background-size: auto;
	-webkit-animation: bammer-away 1s steps(9) infinite;
       -moz-animation: bammer-away 1s steps(9) infinite;
        -ms-animation: bammer-away 1s steps(9) infinite;
         -o-animation: bammer-away 1s steps(9) infinite;
            animation: bammer-away 1s steps(9) infinite;
}
@-webkit-keyframes bammer-away {
   from { background-position:     0px; }
     to { background-position: -1836px; }
}

@-moz-keyframes bammer-away {
   from { background-position:     0px; }
     to { background-position: -1836px; }
}

@-ms-keyframes bammer-away {
   from { background-position:     0px; }
     to { background-position: -1836px; }
}

@-o-keyframes bammer-away {
   from { background-position:     0px; }
     to { background-position: -1836px; }
}

/* could make this 11 steps and change -1980 to 1815 */
.toontalk-bammer-down {
    width:  165px;
    height: 296px;
	opacity: 0.01;
    position: absolute;
    background-image: url("images/bammer-down.png");
	background-size: auto;
	-webkit-animation: bammer-down 2s steps(12) forwards;
       -moz-animation: bammer-down 2s steps(12) forwards;
        -ms-animation: bammer-down 2s steps(12) forwards;
         -o-animation: bammer-down 2s steps(12) forwards;
            animation: bammer-down 2s steps(12) forwards;
}
@-webkit-keyframes bammer-down {
   from { background-position:    0px; }
     to { background-position: -1980px; }
}

@-moz-keyframes bammer-down {
   from { background-position:    0px; }
     to { background-position: -1980px; }
}

@-ms-keyframes bammer-down {
   from { background-position:    0px; }
     to { background-position: -1980px; }
}

@-o-keyframes bammer-down {
   from { background-position:    0px; }
     to { background-position: -1980px; }
}

@keyframes bammer-down {
   from { background-position:    0px; }
     to { background-position: -1980px; }
}

.toontalk-fly-southwest {
    width:  126px;
    height: 127px;
    background-image: url("images/fly-southwest.png");
	background-size: auto;
	-webkit-animation: fly-southwest 1.0s steps(6) infinite;
       -moz-animation: fly-southwest 1.0s steps(6) infinite;
        -ms-animation: fly-southwest 1.0s steps(6) infinite;
         -o-animation: fly-southwest 1.0s steps(6) infinite;
            animation: fly-southwest 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-southwest {
   from { background-position:    0px; }
     to { background-position: -756px; }
}

@-moz-keyframes fly-southwest {
   from { background-position:    0px; }
     to { background-position: -756px; }
}

@-ms-keyframes fly-southwest {
   from { background-position:    0px; }
     to { background-position: -756px; }
}

@-o-keyframes fly-southwest {
   from { background-position:    0px; }
     to { background-position: -756px; }
}

@keyframes fly-southwest {
   from { background-position:    0px; }
     to { background-position: -756px; }
}

.toontalk-fly-south {
    width:  173px;
    height: 140px;
    background-image: url("images/fly-south.png");
	background-size: auto;
	-webkit-animation: fly-south 1.0s steps(6) infinite;
       -moz-animation: fly-south 1.0s steps(6) infinite;
        -ms-animation: fly-south 1.0s steps(6) infinite;
         -o-animation: fly-south 1.0s steps(6) infinite;
            animation: fly-south 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-south {
   from { background-position:    0px; }
     to { background-position: -1038px; }
}

@-moz-keyframes fly-south {
   from { background-position:    0px; }
     to { background-position: -1038px; }
}

@-ms-keyframes fly-south {
   from { background-position:    0px; }
     to { background-position: -1038px; }
}

@-o-keyframes fly-south {
   from { background-position:    0px; }
     to { background-position: -1038px; }
}

@keyframes fly-south {
   from { background-position:    0px; }
     to { background-position: -1038px; }
}

.toontalk-fly-southeast {
    width:  141px;
    height: 164px;
    background-image: url("images/fly-southeast.png");
	background-size: auto;
	-webkit-animation: fly-southeast 1.0s steps(6) infinite;
       -moz-animation: fly-southeast 1.0s steps(6) infinite;
        -ms-animation: fly-southeast 1.0s steps(6) infinite;
         -o-animation: fly-southeast 1.0s steps(6) infinite;
            animation: fly-southeast 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-southeast {
   from { background-position:    0px; }
     to { background-position: -847px; }
}

@-moz-keyframes fly-southeast {
   from { background-position:    0px; }
     to { background-position: -847px; }
}

@-ms-keyframes fly-southeast {
   from { background-position:    0px; }
     to { background-position: -847px; }
}

@-o-keyframes fly-southeast {
   from { background-position:    0px; }
     to { background-position: -847px; }
}

@keyframes fly-southeast {
   from { background-position:    0px; }
     to { background-position: -847px; }
}

.toontalk-fly-west {
    width:  161px;
    height: 132px;
    background-image: url("images/fly-west.png");
	background-size: auto;
	-webkit-animation: fly-west 1.0s steps(6) infinite;
       -moz-animation: fly-west 1.0s steps(6) infinite;
        -ms-animation: fly-west 1.0s steps(6) infinite;
         -o-animation: fly-west 1.0s steps(6) infinite;
            animation: fly-west 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-west {
   from { background-position:    0px; }
     to { background-position: -970px; }
}

@-moz-keyframes fly-west {
   from { background-position:    0px; }
     to { background-position: -970px; }
}

@-ms-keyframes fly-west {
   from { background-position:    0px; }
     to { background-position: -970px; }
}

.toontalk-fly-northwest {
    width:  150px;
    height: 133px;
    background-image: url("images/fly-northwest.png");
	background-size: auto;
	-webkit-animation: fly-northwest 1.0s steps(6) infinite;
       -moz-animation: fly-northwest 1.0s steps(6) infinite;
        -ms-animation: fly-northwest 1.0s steps(6) infinite;
         -o-animation: fly-northwest 1.0s steps(6) infinite;
            animation: fly-northwest 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-northwest {
   from { background-position:    0px; }
     to { background-position: -899px; }
}

@-moz-keyframes fly-northwest {
   from { background-position:    0px; }
     to { background-position: -899px; }
}

@-ms-keyframes fly-northwest {
   from { background-position:    0px; }
     to { background-position: -899px; }
}

@-o-keyframes fly-northwest {
   from { background-position:    0px; }
     to { background-position: -899px; }
}

@keyframes fly-northwest {
   from { background-position:    0px; }
     to { background-position: -899px; }
}

.toontalk-fly-north {
    width:  161px;
    height: 164px;
    background-image: url("images/fly-north.png");
	background-size: auto;
	-webkit-animation: fly-north 1.0s steps(6) infinite;
       -moz-animation: fly-north 1.0s steps(6) infinite;
        -ms-animation: fly-north 1.0s steps(6) infinite;
         -o-animation: fly-north 1.0s steps(6) infinite;
            animation: fly-north 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-north {
   from { background-position:    0px; }
     to { background-position: -966px; }
}

@-moz-keyframes fly-north {
   from { background-position:    0px; }
     to { background-position: -966px; }
}

@-ms-keyframes fly-north {
   from { background-position:    0px; }
     to { background-position: -966px; }
}

@-o-keyframes fly-north {
   from { background-position:    0px; }
     to { background-position: -966px; }
}

@keyframes fly-north {
   from { background-position:    0px; }
     to { background-position: -966px; }
}

.toontalk-fly-northeast {
    width:  163px;
    height: 147px;
    background-image: url("images/fly-northeast.png");
	background-size: auto;
	-webkit-animation: fly-northeast 1.0s steps(6) infinite;
       -moz-animation: fly-northeast 1.0s steps(6) infinite;
        -ms-animation: fly-northeast 1.0s steps(6) infinite;
         -o-animation: fly-northeast 1.0s steps(6) infinite;
            animation: fly-northeast 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-northeast {
   from { background-position:    0px; }
     to { background-position: -978px; }
}

@-moz-keyframes fly-northeast {
   from { background-position:    0px; }
     to { background-position: -978px; }
}

@-ms-keyframes fly-northeast {
   from { background-position:    0px; }
     to { background-position: -978px; }
}

@-o-keyframes fly-northeast {
   from { background-position:    0px; }
     to { background-position: -978px; }
}

@keyframes fly-northeast {
   from { background-position:    0px; }
     to { background-position: -978px; }
}

.toontalk-fly-east {
    width:  168px;
    height: 139px;
    background-image: url("images/fly-east.png");
	background-size: auto;
	-webkit-animation: fly-east 1.0s steps(6) infinite;
       -moz-animation: fly-east 1.0s steps(6) infinite;
        -ms-animation: fly-east 1.0s steps(6) infinite;
         -o-animation: fly-east 1.0s steps(6) infinite;
            animation: fly-east 1.0s steps(6) infinite;
}
@-webkit-keyframes fly-east {
   from { background-position:    0px; }
     to { background-position: -1010px; }
}

@-moz-keyframes fly-east {
   from { background-position:    0px; }
     to { background-position: -1010px; }
}

@-ms-keyframes fly-east {
   from { background-position:    0px; }
     to { background-position: -1010px; }
}

@-o-keyframes fly-east {
   from { background-position:    0px; }
     to { background-position: -1010px; }
}

@keyframes fly-east {
   from { background-position:    0px; }
     to { background-position: -1010px; }
}

.toontalk-robot-waiting {
    width:  103px;
    height: 139px;
    background-image: url("images/robot-waiting.png");
	background-size: auto;
	-webkit-animation: robot-waiting 1.5s steps(12) infinite;
       -moz-animation: robot-waiting 1.5s steps(12) infinite;
        -ms-animation: robot-waiting 1.5s steps(12) infinite;
         -o-animation: robot-waiting 1.5s steps(12) infinite;
            animation: robot-waiting 1.5s steps(12) infinite;
}
@-webkit-keyframes robot-waiting {
   from { background-position:    0px; }
     to { background-position: -1238px; }
}

@-moz-keyframes robot-waiting {
   from { background-position:    0px; }
     to { background-position: -1238px; }
}

@-ms-keyframes robot-waiting {
   from { background-position:    0px; }
     to { background-position: -1238px; }
}

@-o-keyframes robot-waiting {
   from { background-position:    0px; }
     to { background-position: -1238px; }
}

@keyframes robot-waiting {
   from { background-position:    0px; }
     to { background-position: -1238px; }
}