BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 75% Verdana, Helvetica, Arial, sans-serif; SCROLLBAR-HIGHLIGHT-COLOR: #cccccc; SCROLLBAR-SHADOW-COLOR: #3f3f3f; COLOR: black; SCROLLBAR-3DLIGHT-COLOR: #3f3f3f; SCROLLBAR-ARROW-COLOR: #3f3f3f; PADDING-TOP: 0px; SCROLLBAR-TRACK-COLOR: #f7f7f7; SCROLLBAR-DARKSHADOW-COLOR: #f7f7f7; SCROLLBAR-BASE-COLOR: #cccccc
}
TABLE {
	FONT-SIZE: 100%
}
A {
	COLOR: #3f3f3f; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
TABLE {
	
}
IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
P {
	MARGIN: 0.5em 0em 1em; LINE-HEIGHT: 1.5em; TEXT-ALIGN: justify
}
P A {
	TEXT-DECORATION: underline
}
P A:visited {
	COLOR: purple; BACKGROUND-COLOR: transparent
}
P A:active {
	COLOR: red; BACKGROUND-COLOR: transparent
}
P IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
HR {
	CLEAR: both; COLOR: #3f3f3f; HEIGHT: 1px; BACKGROUND-COLOR: transparent
}
H1 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid
}
H2 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid
}
H3 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid
}
H4 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid
}
H5 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid
}
H6 {
	CLEAR: left; MARGIN: 0px; FONT: 100% Verdana, Helvetica, Arial, sans-serif; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid
}
H1 {
	FONT-SIZE: 160%
}
H2 {
	FONT-SIZE: 150%
}
H3 {
	FONT-SIZE: 140%
}
H4 {
	FONT-SIZE: 120%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 80%
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0px 2em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0.5em 0px 0px 2em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px
}
UL A {
	TEXT-DECORATION: underline
}
OL A {
	TEXT-DECORATION: underline
}
LI {
	MARGIN-BOTTOM: 1em
}
DL {
	
}
DT {
	FONT-WEIGHT: bold
}
DT A {
	TEXT-DECORATION: underline
}
DD {
	MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1.5em
}
d A {
	TEXT-DECORATION: underline
}
FIELDSET {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 0em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 0em; PADDING-BOTTOM: 1em; MARGIN: 2em 0em 1em; BORDER-LEFT: #3f3f3f 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #3f3f3f 1px solid
}
LEGEND {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: white; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
FORM {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TEXTAREA {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0.1em; WIDTH: 88%; COLOR: black; PADDING-TOP: 0.1em; BACKGROUND-COLOR: white
}
INPUT {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0.1em; FONT: 100% Verdana, Helvetica, Arial, sans-serif; VERTICAL-ALIGN: middle; COLOR: black; PADDING-TOP: 0.1em; BACKGROUND-COLOR: white
}
SELECT {
	FONT: 100% Verdana, Helvetica, Arial, sans-serif; VERTICAL-ALIGN: top
}
abbr {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
ACRONYM {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
.explain {
	CURSOR: help; COLOR: black; BORDER-BOTTOM: black 1px dotted; BACKGROUND-COLOR: transparent
}
Q {
	FONT-SIZE: 120%; FONT-STYLE: italic; FONT-FAMILY: Times, "Times New Roman", serif
}
BLOCKQUOTE {
	FONT-SIZE: 120%; FONT-STYLE: italic; FONT-FAMILY: Times, "Times New Roman", serif
}
CODE {
	FONT-SIZE: 120%; COLOR: black; BACKGROUND-COLOR: #cccccc
}
PRE {
	BORDER-RIGHT: #3f3f3f 1px ridge; PADDING-RIGHT: 1em; BORDER-TOP: #3f3f3f 1px ridge; PADDING-LEFT: 1em; FONT-SIZE: 120%; PADDING-BOTTOM: 1em; BORDER-LEFT: #3f3f3f 1px ridge; COLOR: black; PADDING-TOP: 1em; BORDER-BOTTOM: #3f3f3f 1px ridge; BACKGROUND-COLOR: #cccccc
}
.netscape4 {
	DISPLAY: none
}
DIV.top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #666666; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 1em 0em 1em 2em; PADDING-TOP: 0px
}
DIV.searchBox {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0em; FLOAT: right; PADDING-BOTTOM: 0em; MARGIN: 3em 0em 0em; WIDTH: 30%; COLOR: black; PADDING-TOP: 0em; BACKGROUND-COLOR: transparent; TEXT-ALIGN: right
}
INPUT.searchButton {
	FONT-SIZE: 100%! important; MARGIN-BOTTOM: 1px! important
}
DIV.tabs {
	PADDING-RIGHT: 0em; PADDING-LEFT: 2em; BACKGROUND: #666666; PADDING-BOTTOM: 0em; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid; WHITE-SPACE: nowrap; BORDER-COLLAPSE: collapse
}
DIV.tabs A {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 2em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 2em; FONT-WEIGHT: bold; BACKGROUND: #ededed; PADDING-BOTTOM: 0em; BORDER-LEFT: #3f3f3f 1px solid; COLOR: #3f3f3f; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0em; BORDER-BOTTOM: #3f3f3f 1px; HEIGHT: 1.2em
}
DIV.tabs A.selected {
	BORDER-RIGHT: #3f3f3f 1px solid; BORDER-TOP: #3f3f3f 1px solid; FONT-WEIGHT: bold; BACKGROUND: #cccccc; BORDER-LEFT: #3f3f3f 1px solid; COLOR: #3f3f3f; BORDER-BOTTOM: #cccccc 1px solid
}
DIV.tabs A:hover {
	BORDER-LEFT-COLOR: #3f3f3f; BACKGROUND: #cccccc; BORDER-BOTTOM-COLOR: #cccccc; COLOR: #3f3f3f; BORDER-TOP-COLOR: #3f3f3f; BORDER-RIGHT-COLOR: #3f3f3f
}
DIV.personalBar {
	PADDING-RIGHT: 3em; BACKGROUND: #cccccc; COLOR: black; BORDER-BOTTOM: #3f3f3f 1px solid; TEXT-ALIGN: right
}
DIV.personalBar A {
	FONT-WEIGHT: bold; MARGIN-LEFT: 1em; COLOR: #3f3f3f; BACKGROUND-COLOR: transparent
}
DIV.personalBar IMG {
	VERTICAL-ALIGN: top
}
.caseSensitive {
	TEXT-TRANSFORM: none
}
DIV.pathBar {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; BORDER-BOTTOM: #3f3f3f 1px solid
}
.breadcrumbs {
	FLOAT: left
}
.addFavorite {
	VERTICAL-ALIGN: bottom
}
TABLE.columns {
	WIDTH: 100%
}
TABLE.columns TD.left {
	PADDING-RIGHT: 0em; PADDING-LEFT: 2em; PADDING-BOTTOM: 1em; VERTICAL-ALIGN: top; WIDTH: 15%; PADDING-TOP: 2em
}
TABLE.columns TD.main {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 1em; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0em
}
TABLE.columns TD.right {
	PADDING-RIGHT: 2em; PADDING-LEFT: 0em; PADDING-BOTTOM: 1em; VERTICAL-ALIGN: top; WIDTH: 15%; PADDING-TOP: 2em
}
#contentTabs {
	MARGIN-TOP: 2em; PADDING-LEFT: 1em; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM: #2c852c 1px ridge; WHITE-SPACE: nowrap; BORDER-COLLAPSE: collapse
}
#contentTabs A {
	BORDER-RIGHT: #2c852c 1px solid; PADDING-RIGHT: 2em; BORDER-TOP: #2c852c 1px solid; PADDING-LEFT: 2em; FONT-WEIGHT: bold; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0em; BORDER-LEFT: #2c852c 1px solid; COLOR: #1f5f1f; MARGIN-RIGHT: 0.5em; PADDING-TOP: 0em; BORDER-BOTTOM: #2c852c 1px; HEIGHT: 1.2em
}
#contentTabs A.selected {
	FONT-WEIGHT: bold; BACKGROUND: #d8f2d8; COLOR: #1f5f1f; BORDER-BOTTOM: #d8f2d8 1px solid
}
#contentTabs A:hover {
	COLOR: #1f5f1f; BACKGROUND-COLOR: #d8f2d8
}
#contentBar {
	BORDER-RIGHT: #2c852c 1px ridge; BACKGROUND: #d8f2d8; BORDER-LEFT: #2c852c 1px ridge; COLOR: #1f5f1f; TEXT-ALIGN: right
}
DIV.document {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: white; PADDING-BOTTOM: 0px; MARGIN: 0em 0em 2em; FONT: 120% Verdana, Helvetica, Arial, sans-serif; PADDING-TOP: 0px
}
DIV.editableDocument {
	BORDER-RIGHT: #2c852c 1px ridge; PADDING-RIGHT: 1em; BORDER-TOP: #2c852c 1px ridge; PADDING-LEFT: 1em; BACKGROUND: white; PADDING-BOTTOM: 2em; MARGIN: 0em 0em 2em; FONT: 120% Verdana, Helvetica, Arial, sans-serif; BORDER-LEFT: #2c852c 1px ridge; PADDING-TOP: 0em; BORDER-BOTTOM: #2c852c 1px ridge
}
DIV.documentActions {
	MARGIN-TOP: 1.5em; FLOAT: right
}
DIV.message {
	BORDER-RIGHT: #85762c 1px ridge; PADDING-RIGHT: 1em; BORDER-TOP: #85762c 1px ridge; PADDING-LEFT: 1em; BACKGROUND: #f2edd8; PADDING-BOTTOM: 0.5em; MARGIN: 2em 0em 1em; FONT: bold 80% Verdana, Helvetica, Arial, sans-serif; VERTICAL-ALIGN: middle; BORDER-LEFT: #85762c 1px ridge; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #85762c 1px ridge
}
DIV.message A {
	COLOR: black; TEXT-DECORATION: underline
}
DIV.title {
	MARGIN-TOP: 1em
}
.description {
	DISPLAY: block; MARGIN: 1em 0em; FONT: bold 100%/1.5em Verdana, Helvetica, Arial, sans-serif
}
.footer {
	CLEAR: both; PADDING-RIGHT: 0em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 0em; BACKGROUND: #666666; FLOAT: none; PADDING-BOTTOM: 1em; MARGIN: 2em 0em; COLOR: black; PADDING-TOP: 0.5em; BORDER-BOTTOM: #3f3f3f 1px solid; TEXT-ALIGN: center
}
INPUT.standalone {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: url(linkOpaque.gif) #cccccc no-repeat 9px 1px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px
}
INPUT.context {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: url(linkTransparent.gif) white no-repeat 9px 1px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px
}
INPUT.destructive {
	BORDER-RIGHT: #b2b200 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #b2b200 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: url(linkTransparent.gif) #fefecc no-repeat 9px 1px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; BORDER-LEFT: #b2b200 1px solid; CURSOR: pointer; COLOR: black; PADDING-TOP: 1px; BORDER-BOTTOM: #b2b200 1px solid
}
INPUT.noborder {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
DIV.row {
	CLEAR: both; MIN-HEIGHT: 4em; MARGIN: 0em 0em 1em; POSITION: relative
}
.group {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; MARGIN: 1em 0em; BORDER-LEFT: #3f3f3f 1px solid; PADDING-TOP: 0em; BORDER-BOTTOM: #3f3f3f 1px solid
}
SPAN.legend {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 80%; BACKGROUND: white; LEFT: 0em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em; POSITION: relative; TOP: -0.8em
}
DIV.label {
	PADDING-RIGHT: 0.5em; DISPLAY: inline; FONT-WEIGHT: bold
}
DIV.field {
	MARGIN-TOP: 0.2em
}
DIV.help {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; FONT-SIZE: 80%; LEFT: -18em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: black 1px solid; WIDTH: 16em; LINE-HEIGHT: normal; PADDING-TOP: 0.5em; BORDER-BOTTOM: black 1px solid; POSITION: absolute; TOP: 1.5em; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
.error {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BORDER-LEFT-COLOR: #b2b200; BACKGROUND: #fefecc; BORDER-BOTTOM-COLOR: #b2b200; PADDING-BOTTOM: 1em; MARGIN: 0px; WIDTH: 68%! important; BORDER-TOP-COLOR: #b2b200; PADDING-TOP: 1em; BORDER-RIGHT-COLOR: #b2b200
}
.required {
	BACKGROUND: url(required.gif) no-repeat right 50%
}
SPAN.card {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 1em; BACKGROUND: #cccccc; FLOAT: left; PADDING-BOTTOM: 1em; MARGIN: 1em; BORDER-LEFT: #3f3f3f 1px solid; WIDTH: 15%; PADDING-TOP: 1em; BORDER-BOTTOM: #3f3f3f 1px solid; TEXT-ALIGN: center
}
TABLE.listing {
	CLEAR: both; FONT-SIZE: 80%; MARGIN: 1em 0em; BORDER-LEFT: #3f3f3f 1px solid; BORDER-BOTTOM: #3f3f3f 1px solid; BORDER-COLLAPSE: collapse
}
DIV.stx TABLE {
	CLEAR: both; FONT-SIZE: 80%; MARGIN: 1em 0em; BORDER-LEFT: #3f3f3f 1px solid; BORDER-BOTTOM: #3f3f3f 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.listing TH {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: normal; BACKGROUND: #cccccc; PADDING-BOTTOM: 0em; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #3f3f3f 1px solid; WHITE-SPACE: nowrap
}
DIV.stx TABLE TH {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 1em; FONT-WEIGHT: normal; BACKGROUND: #cccccc; PADDING-BOTTOM: 0em; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #3f3f3f 1px solid; WHITE-SPACE: nowrap
}
TABLE.listing TD.top {
	BORDER-RIGHT: white 1px solid; PADDING-RIGHT: 0em; BORDER-TOP: white 1px solid; PADDING-LEFT: 0em; LEFT: -1px; PADDING-BOTTOM: 1em; BORDER-LEFT: white 1px solid; PADDING-TOP: 0em; POSITION: relative; TOP: -1px; TEXT-ALIGN: right! important
}
TABLE.listing TR.odd {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
TABLE.listing TR.even {
	BACKGROUND: #f7f7f7
}
TABLE.listing TD {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em; TEXT-ALIGN: left
}
DIV.stx TABLE TD {
	BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; PADDING-TOP: 0em; TEXT-ALIGN: left
}
TABLE.listing A:hover {
	TEXT-DECORATION: underline
}
TABLE.listing IMG {
	VERTICAL-ALIGN: middle
}
DIV.stx TABLE P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.stx TABLE {
	BORDER-RIGHT: #3f3f3f 1px solid; BORDER-TOP: #3f3f3f 1px solid; BORDER-LEFT: #3f3f3f 1px solid; BORDER-BOTTOM: #3f3f3f 1px solid
}
DIV.stx TABLE TD {
	BORDER-BOTTOM: #3f3f3f 1px solid
}
DIV.box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0em 0em 2em; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.box H4 {
	FONT-SIZE: 1em
}
DIV.box H5 {
	BORDER-RIGHT: #7f7f00 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #7f7f00 1px solid; DISPLAY: inline; PADDING-LEFT: 1em; FONT-SIZE: 1em; BACKGROUND: #feff99; PADDING-BOTTOM: 0em; BORDER-LEFT: #7f7f00 1px solid; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #7f7f00 1px; HEIGHT: 1em
}
DIV.box H6 {
	BORDER-RIGHT: #7f7f00 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #7f7f00 1px solid; DISPLAY: block; PADDING-LEFT: 1em; FONT-SIZE: 1em; BACKGROUND: #feff99; PADDING-BOTTOM: 0em; BORDER-LEFT: #7f7f00 1px solid; COLOR: black; PADDING-TOP: 0em; BORDER-BOTTOM: #7f7f00 1px; HEIGHT: 1.2em
}
DIV.box DIV.body {
	BORDER-RIGHT: #7f7f00 1px solid; BORDER-TOP: #7f7f00 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #7f7f00 1px solid; BORDER-BOTTOM: #7f7f00 1px solid; BORDER-COLLAPSE: collapse
}
.boxDetails {
	TEXT-ALIGN: right
}
DIV.box .content {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em
}
DIV.box A.close {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; FLOAT: right; PADDING-BOTTOM: 0em; TEXT-TRANSFORM: none; BORDER-LEFT: #7f7f00 1px solid; PADDING-TOP: 0em
}
DIV.box H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.box .even {
	BACKGROUND-COLOR: #ffffef
}
DIV.box .odd {
	BACKGROUND-COLOR: transparent
}
DIV.box INPUT {
	FONT-SIZE: 100%
}
DIV.spacer {
	MARGIN: 1em
}
.currentNavItem {
	FONT-WEIGHT: bold; COLOR: black
}
.private {
	COLOR: black
}
.published {
	COLOR: #b29400
}
.pending {
	COLOR: #ffa500
}
.syndicated {
	COLOR: #008000
}
.expired {
	COLOR: red
}
.even {
	BACKGROUND-COLOR: #f7f7f7
}
.odd {
	BACKGROUND-COLOR: transparent
}
.highlight {
	BACKGROUND-COLOR: #f7f7f7
}
DIV.listingBar {
	CLEAR: both; BORDER-RIGHT: #3f3f3f 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #3f3f3f 1px solid; PADDING-LEFT: 1em; BACKGROUND: #cccccc; PADDING-BOTTOM: 0em; MARGIN: 1em 0em; VERTICAL-ALIGN: top; BORDER-LEFT: #3f3f3f 1px solid; PADDING-TOP: 0em; BORDER-BOTTOM: #3f3f3f 1px solid; TEXT-ALIGN: center
}
DIV.listingBar SPAN.previous {
	FLOAT: left; TEXT-ALIGN: left
}
DIV.listingBar SPAN.next {
	FLOAT: right; TEXT-ALIGN: right
}
DIV listingBar IMG {
	VERTICAL-ALIGN: middle
}
DIV.day {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: black 1px solid; PADDING-LEFT: 0.2em; Z-INDEX: 2; VISIBILITY: hidden; PADDING-BOTTOM: 0.2em; BORDER-LEFT: black 1px solid; WIDTH: 12em; PADDING-TOP: 0.2em; BORDER-BOTTOM: black 1px solid; POSITION: absolute; BACKGROUND-COLOR: #ffffbb
}
DIV.date {
	FONT-WEIGHT: bold
}
TABLE.calendar {
	BORDER-RIGHT: #7f7f00 1px solid; BORDER-TOP: #7f7f00 1px solid; MARGIN: 0em 1em 2em 0em; BORDER-LEFT: #7f7f00 1px solid; BORDER-BOTTOM: #7f7f00 1px solid; TEXT-ALIGN: right
}
TABLE.calendar A {
	COLOR: #7f7f00; TEXT-DECORATION: none
}
TABLE.calendar A:hover {
	TEXT-DECORATION: none
}
TABLE.calendar TH {
	FONT-WEIGHT: bold; COLOR: black; BACKGROUND-COLOR: #feff99; TEXT-ALIGN: center
}
TABLE.calendar TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 1.5em; PADDING-TOP: 2px; BACKGROUND-COLOR: transparent
}
TABLE.calendar TD.weekdays {
	BORDER-RIGHT: #7f7f00 1px; BORDER-TOP: #7f7f00 1px solid; BORDER-LEFT: #7f7f00 1px; BORDER-BOTTOM: #7f7f00 1px solid; BACKGROUND-COLOR: #feff99; TEXT-ALIGN: center
}
TABLE.calendar TD.event {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #feff99
}
TABLE.calendar TD.noevent {
	BACKGROUND-COLOR: transparent
}
TABLE.calendar TD.todayevent {
	BORDER-RIGHT: #d8cb8c 2px solid; BORDER-TOP: #d8cb8c 2px solid; FONT-WEIGHT: bold; BORDER-LEFT: #d8cb8c 2px solid; BORDER-BOTTOM: #d8cb8c 2px solid; BACKGROUND-COLOR: #feff99
}
TABLE.calendar TD.todaynoevent {
	BORDER-RIGHT: #d8d88c 2px solid; BORDER-TOP: #d8d88c 2px solid; BORDER-LEFT: #d8d88c 2px solid; BORDER-BOTTOM: #d8d88c 2px solid; BORDER-COLLAPSE: collapse
}
